.split {
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
}

.left {
  left: 0;
  width: 35%;
  background-color: #8c8c8e;
}

.right {
  right: 0;
  width: 65%;
  background-color: #faffc9;
  display: flex;
  align-items: center;
  justify-content: center;
}


.title {
    background-color: #404046;
    margin-top: 0;
    padding: 20px 20px 20px 20px;
    color: #faffc9;
    font-size: 36pt;
    font-family: "Comic Sans MS";
    text-align: center;
    text-decoration: none;
}

.player {
    margin-top: 0;
    padding: 5px 5px 5px 5px;
    color: #ffffff;
    font-size: 20pt;
    font-family: "Comic Sans MS";
    text-align: center;
}

.board {

}

.fleet {
    margin-top: 0;
    color: #ffffff;
    font-size: 12pt;
    font-family: "Comic Sans MS";
    text-align: center;
}

.field {
  float: left;
  height: 28px;
  width: 28px;
  border: 1px solid #984a00;
  display:flex;
  align-items: center;
  justify-content:center;
  color: white;
}

.clear {
  clear: both;
  float: left;
}

.sea {
  background-color: #0439ff;
}

.team1 {
  background-color: #00ff2c;
}
.team2 {
  background-color: #ff0004;
}

.team3 {
  background-color: #ff8100;
}

.team4 {
  background-color: #ff00fa;
}

.avatar {
  display:inline-block;
  height: 20px;
  width: 20px;
  border-radius: 50%;
}

.game_player_name{
  padding-left: 10px;
  align-items: center;
  justify-content:center;
  display:inline-block;
}

#wrapper {
    text-align:center;
    margin:0 auto;
    padding-bottom:25px;
    background: #404046;
    width:450px;
    margin-top:50px;
    border:1px solid #000000;
}

#chatbox {
    text-align:left;
    margin:0 auto;
    margin-bottom:25px;
    color: #ffffff;
    background: #000000;
    height:250px;
    display:flex;
    flex-direction:row;
    border:1px solid #909092;
    margin-right: 15px;
    margin-left: 15px;
    overflow: auto;
}

.input_container {
    margin-right: 15px;
    margin-left: 15px;
    text-align:center;
    display:flex;
    flex-direction:row;
    border:1px solid #909092;
}

.input {
    flex: 1;
}

.error {
    color: #ff0007;
}

.status {
    font-size: 20pt;
    margin-top:10px;
    float: inside;
    color: #fbff00;
}

